<br/><br/>

    <table id="customers" *ngIf="books.length>0">
        <thead>
          <tr>
            <th>id</th>
            <th>titre</th>
            <th>Auteur</th>
            <th>nombre de page</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books" >
              
            <td *ngIf="!book.emprunte">{{book.id}}</td>
            <td *ngIf="!book.emprunte">{{book.titre }}</td>
            <td *ngIf="!book.emprunte">{{book.auteur}}</td>
            <td *ngIf="!book.emprunte">{{book.nbrPage}}</td>
            <td *ngIf="!book.emprunte"><input type="button" (click)="emprunter(book.id)" value="emprunter"></td>
          </tr>
        </tbody>
      </table>


